set timeout=15

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry 'UEFI BOOTLoaderX64 ...' {
linux	/EFI/vmlinuzx64 loglevel=3   boottype=efi
initrd	/EFI/corex64.gz
}
menuentry 'UEFI BOOTLoaderX64 base vga driver ...' {
linux	/EFI/vmlinuzx64 loglevel=3   boottype=efi nomodeset
initrd	/EFI/corex64.gz
}
fi
